#lead {
  margin-top: 60px;
}

#main {
  margin-top: @page-margin;
}

#slogan {
  margin-top: @page-margin + 20px;
  margin-bottom: @page-margin - 10px;
}

#bag-is-images {
  margin: @page-margin 0;
}

.lead-text {
  margin: @page-margin - 10px 0;
}